// fade
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInX {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


// zoom
@keyframes zoomIn {
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes zoomInX {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}


@keyframes zoomInPulsed {
  0% {
    transform: translate3d(0, 100%, 0) scale3d(0, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    opacity: 1;
  }
}

// other
@keyframes showing {
  0% {
    transform: translate3d(0, 200%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes shakeY {
  from {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  }

  33% {
    transform: translate3d(0, -5%, 0) rotate3d(1, 1, 1, -3deg);
  }

  66% {
    transform: translate3d(0, 5%, 0) rotate3d(1, 1, 1, 3deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  }
}

@keyframes slideLeft {
  0% {
    transform: scaleX(0.1);
    transform-origin: 100% 0;
    opacity: 1;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}


@keyframes shakeSmooth1 {
  from {
    transform: rotate(0);
  }

  10% {
    transform: rotate(-15deg);
  }

  15% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  45% {
    transform: rotate(7deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(3deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes shakeSmooth2 {
  from {
    transform: rotate(0);
  }

  10% {
    transform: rotate(15deg);
  }

  15% {
    transform: rotate(-12deg);
  }

  30% {
    transform: rotate(10deg);
  }

  45% {
    transform: rotate(-7deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-3deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes rollInFromLeft {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rollInFromRight {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rotateFromLeft {
  from {
    transform: rotate(-90deg);
  }
}

@keyframes rotateFromRight {
  from {
    transform: rotate(90deg);
  }
}

@keyframes rotateAndTranslateFromRight {
  from {
    transform: rotate(90deg) translate(-80%, 10%);
    transform-origin: left;
  }
  to {
    transform: rotate(0) translate(-50% -50%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px)
  }

  to {
    transform: translateY(0);
  }
}
